html, body {
    font-family: "Noto Sans", sans-serif;
    background: $background;
    color: $black;
}

h2 {
    font-family: "Noto Sans", sans-serif;
}

a {
    color: $black;
    &:hover {
	color: $black;
	text-decoration: none;
    }
    cursor: pointer;
}

hr {
    border:none;
    border-top: 1px solid rgba(0,0,0,.15);
    margin: 10px 0;
}

textarea, textarea:focus, textarea:active {
    resize: none;
    box-shadow: none!important;    
}




/* Customize bootstrap */
.btn-default {
    border-radius: 2px;
    background: transparent;
    color: $dark-gray;
    border: 1px solid $gray;
}

.form-control {
    height: 40px;
}