header {
    box-shadow: 0 1px 0 0 rgba(0,0,0,.05), 0 2px 4px 0 rgba(0,0,0,.06);
    background: #fff;
    padding: 10px;
    border-top: 3px solid $orange;

    .search {
	@media  (max-width: 740px) {
	    padding: 0;
	}
    }
    .logo {
	background: $orange;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	color: white;
	padding-top: 20px;
	line-height: 0;
	float:left;
	margin-right:10px;
	/* margin-left: -50px; */

	@media  (max-width: 500px) {
	    display: none;
	}
    }

    .tagline {
	margin: 10px;
	color: $gray;
    }
    
    form {
	float: right;

	@media  (max-width: 500px) {
	    width: 100%;
	}	
	
	input {
	    height: 40px;
	}

	.fa-search {
	    position: absolute;
	    right: 26px;
	    top: 12px;
	    color: $gray;
	    @media  (max-width: 740px) {
		right: 8px;
	    }
	}

	.typeahead.dropdown-menu {
	    width: calc(100% - 80px);
	}
    }

    .main-menu {
	@media  (max-width: 740px) {
	    padding: 0;
	}	
	a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    height: 40px;
	    border: 1px solid rgba(0,0,0,0.1);
	    margin-right:5px;
	    border-radius: 0;
	    &:hover {
		background-color: #eeeeee;
	    }
	    @media  (max-width: 740px) {
		margin: 0;
		width: 40px;
		padding: 10px 0px;
		text-align: center;
	    }
	}
    }

    

    .subnav {
	margin-top: 10px;
	.filters {
	    /* margin-left: 50px; */

	    @media  (max-width: 740px) {
		padding: 0;
		margin: 0;
	    }	    
		    
	}
	.btn {
	    border-radius: 0;
	    @media  (max-width: 420px) {
	        padding: 8px 7px;
	    }
	}

	.dropdown {
	    float: left;
	    margin-right: 5px;
	    li {
		border-bottom: 1px solid rgba(0,0,0,.15);
	    }

	    @media  (max-width: 740px) {
		margin: 0;
	    }	    
	}



	.dropdown:hover .dropdown-menu {
	    display: block;
	}

    }
}

