
article {
    background: white;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    margin-top: 20px;
    min-height: 130px;
    position: relative;

    .post-header {
	height: 88px;
    }
    h2 {
	margin-top:0;
	font-size: 22px;
	font-weight: bold;
    }

    p {
	font-size: 14px;
	color: $gray;
    }


    .voting-buttons {
	float: left;
	margin-right: 20px;
	.btn {
	    margin-bottom: 5px;
	    width: 50px;
	    padding: 5px 0;

	    &:hover {
		background: $light-gray;
	    }
	}

	.upvoted {
	    background: $orange;
	    color: white;
	    border: none;
	}	    
	
	
    }
    .label {
	color: $dark-gray;
    }

    .post-edit {
	position: absolute;
	right: 20px;
	top: 20px;
    }
    

    .post-footer {
	@extend p;
	background: rgba(0,0,0,0.02);
	padding: 7px 10px 10px 10px;
	margin: 5px -20px -20px -20px;
	background-color: #fcfcfc;
	border-top: 1px solid #e8e8e8;

    }
}




.tag-description {
    margin-top: 20px;
    .panel {
	padding: 20px;
	margin-bottom: 0;

	h1 {
	    font-weight: bold;
	    font-size: 20px;
	    margin-top: 0;
	}
	h2 {
	    font-weight: normal;
	    font-size: 18px;
	    margin: 0;
	}
    }
}


/* Post detail */

.comment {
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.04);
    min-height: 0;
    .footer {
	float: right;
	a {
	    cursor: pointer;
	}
	.score {
	    font-weight: bold;
	}

	.comment-upvoted {
	    color: $orange;
	}
    }

}

.comment .comment{
    margin-right: -20.5px;
}

