/* @import url("http://fonts.googleapis.com/css?family=Noto+Sans:100,200,400,700,400italic,700italic"); */
/* Helpers */
/* line 2, ../sass/_helpers.scss */
.left {
  float: left;
}

/* line 6, ../sass/_helpers.scss */
.right {
  float: right;
}

/* line 10, ../sass/_helpers.scss */
.hidden {
  display: none;
}

/* line 14, ../sass/_helpers.scss */
.bold {
  font-weight: bold;
}

/* line 18, ../sass/_helpers.scss */
.pointer {
  cursor: pointer;
}

/* line 22, ../sass/_helpers.scss */
.fill {
  min-height: 100%;
  height: 100%;
}

/* line 27, ../sass/_helpers.scss */
.vertical-center {
  display: flex;
  align-items: center;
}

/* line 1, ../sass/_general.scss */
html, body {
  font-family: "Noto Sans", sans-serif;
  background: #f9f9f9;
  color: rgba(0, 0, 0, 0.8);
}

/* line 7, ../sass/_general.scss */
h2 {
  font-family: "Noto Sans", sans-serif;
}

/* line 11, ../sass/_general.scss */
a {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
/* line 13, ../sass/_general.scss */
a:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* line 20, ../sass/_general.scss */
hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin: 10px 0;
}

/* line 26, ../sass/_general.scss */
textarea, textarea:focus, textarea:active {
  resize: none;
  box-shadow: none !important;
}

/* Customize bootstrap */
/* line 35, ../sass/_general.scss */
.btn-default {
  border-radius: 2px;
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid #999;
}

/* line 42, ../sass/_general.scss */
.form-control {
  height: 40px;
}

/* line 1, ../sass/_header.scss */
header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  padding: 10px;
  border-top: 3px solid #da552f;
}
@media (max-width: 740px) {
  /* line 7, ../sass/_header.scss */
  header .search {
    padding: 0;
  }
}
/* line 12, ../sass/_header.scss */
header .logo {
  background: #da552f;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  color: white;
  padding-top: 20px;
  line-height: 0;
  float: left;
  margin-right: 10px;
  /* margin-left: -50px; */
}
@media (max-width: 500px) {
  /* line 12, ../sass/_header.scss */
  header .logo {
    display: none;
  }
}
/* line 30, ../sass/_header.scss */
header .tagline {
  margin: 10px;
  color: #999;
}
/* line 35, ../sass/_header.scss */
header form {
  float: right;
}
@media (max-width: 500px) {
  /* line 35, ../sass/_header.scss */
  header form {
    width: 100%;
  }
}
/* line 42, ../sass/_header.scss */
header form input {
  height: 40px;
}
/* line 46, ../sass/_header.scss */
header form .fa-search {
  position: absolute;
  right: 26px;
  top: 12px;
  color: #999;
}
@media (max-width: 740px) {
  /* line 46, ../sass/_header.scss */
  header form .fa-search {
    right: 8px;
  }
}
/* line 56, ../sass/_header.scss */
header form .typeahead.dropdown-menu {
  width: calc(100% - 80px);
}
@media (max-width: 740px) {
  /* line 61, ../sass/_header.scss */
  header .main-menu {
    padding: 0;
  }
}
/* line 65, ../sass/_header.scss */
header .main-menu a {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 5px;
  border-radius: 0;
}
/* line 72, ../sass/_header.scss */
header .main-menu a:hover {
  background-color: #eeeeee;
}
@media (max-width: 740px) {
  /* line 65, ../sass/_header.scss */
  header .main-menu a {
    margin: 0;
    width: 40px;
    padding: 10px 0px;
    text-align: center;
  }
}
/* line 86, ../sass/_header.scss */
header .subnav {
  margin-top: 10px;
}
/* line 88, ../sass/_header.scss */
header .subnav .filters {
  /* margin-left: 50px; */
}
@media (max-width: 740px) {
  /* line 88, ../sass/_header.scss */
  header .subnav .filters {
    padding: 0;
    margin: 0;
  }
}
/* line 97, ../sass/_header.scss */
header .subnav .btn {
  border-radius: 0;
}
@media (max-width: 420px) {
  /* line 97, ../sass/_header.scss */
  header .subnav .btn {
    padding: 8px 7px;
  }
}
/* line 104, ../sass/_header.scss */
header .subnav .dropdown {
  float: left;
  margin-right: 5px;
}
/* line 107, ../sass/_header.scss */
header .subnav .dropdown li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
@media (max-width: 740px) {
  /* line 104, ../sass/_header.scss */
  header .subnav .dropdown {
    margin: 0;
  }
}
/* line 118, ../sass/_header.scss */
header .subnav .dropdown:hover .dropdown-menu {
  display: block;
}

/* line 2, ../sass/_posts.scss */
article {
  background: white;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  margin-top: 20px;
  min-height: 130px;
  position: relative;
}
/* line 11, ../sass/_posts.scss */
article h2 {
  margin-top: 0;
  font-size: 22px;
  font-weight: bold;
}
/* line 17, ../sass/_posts.scss */
article p, article .post-footer {
  font-size: 14px;
  color: #999;
}
/* line 23, ../sass/_posts.scss */
article .voting-buttons {
  float: left;
  margin-right: 20px;
}
/* line 26, ../sass/_posts.scss */
article .voting-buttons .btn {
  margin-bottom: 5px;
  width: 50px;
  padding: 5px 0;
}
/* line 31, ../sass/_posts.scss */
article .voting-buttons .btn:hover {
  background: #e7e7e7;
}
/* line 36, ../sass/_posts.scss */
article .voting-buttons .upvoted {
  background: #da552f;
  color: white;
  border: none;
}
/* line 44, ../sass/_posts.scss */
article .label {
  color: rgba(0, 0, 0, 0.6);
}
/* line 48, ../sass/_posts.scss */
article .post-edit {
  position: absolute;
  right: 20px;
  top: 20px;
}
/* line 55, ../sass/_posts.scss */
article .post-footer {
  background: rgba(0, 0, 0, 0.02);
  padding: 7px 10px 10px 10px;
  margin: 5px -20px -20px -20px;
  background-color: #fcfcfc;
  border-top: 1px solid #e8e8e8;
}

/* line 69, ../sass/_posts.scss */
.tag-description {
  margin-top: 20px;
}
/* line 71, ../sass/_posts.scss */
.tag-description .panel {
  padding: 20px;
  margin-bottom: 0;
}
/* line 75, ../sass/_posts.scss */
.tag-description .panel h1 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
}
/* line 80, ../sass/_posts.scss */
.tag-description .panel h2 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

/* Post detail */
/* line 91, ../sass/_posts.scss */
.comment {
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.04);
  min-height: 0;
}
/* line 94, ../sass/_posts.scss */
.comment .footer {
  float: right;
}
/* line 96, ../sass/_posts.scss */
.comment .footer a {
  cursor: pointer;
}
/* line 99, ../sass/_posts.scss */
.comment .footer .score {
  font-weight: bold;
}
/* line 103, ../sass/_posts.scss */
.comment .footer .comment-upvoted {
  color: #da552f;
}

/* line 110, ../sass/_posts.scss */
.comment .comment {
  margin-right: -20.5px;
}

/* line 16, ../sass/style.scss */
.subscription-box {
  margin-top: 20px;
  display: none;
}
/* line 20, ../sass/style.scss */
.subscription-box .cta-description {
  padding: 0 5px;
}
/* line 23, ../sass/style.scss */
.subscription-box .panel {
  margin-bottom: 0;
}
/* line 26, ../sass/style.scss */
.subscription-box .cta {
  padding: 10px;
  float: left;
  margin-right: 20px;
  font-weight: bold;
}
/* line 34, ../sass/style.scss */
.subscription-box .email-form input {
  float: left;
}
/* line 37, ../sass/style.scss */
.subscription-box .email-form #id_email {
  width: calc(100% - 240px);
}
@media (max-width: 500px) {
  /* line 37, ../sass/style.scss */
  .subscription-box .email-form #id_email {
    width: 100%;
  }
}
/* line 43, ../sass/style.scss */
.subscription-box .email-form #submit-email {
  width: 100px;
}
@media (max-width: 500px) {
  /* line 43, ../sass/style.scss */
  .subscription-box .email-form #submit-email {
    width: 100%;
  }
}
/* line 51, ../sass/style.scss */
.subscription-box input {
  height: 40px;
}
/* line 55, ../sass/style.scss */
.subscription-box .btn {
  background: #da552f;
  color: white;
  height: 40px;
}
/* line 61, ../sass/style.scss */
.subscription-box .close {
  position: absolute;
  top: 19px;
  right: 22px;
  font-size: 32px;
}
@media (max-width: 740px) {
  /* line 61, ../sass/style.scss */
  .subscription-box .close {
    top: 10px;
    right: 30px;
  }
}

/* line 75, ../sass/style.scss */
.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  padding: 20px;
}

/* Modals */
/* Pagination */
/* line 88, ../sass/style.scss */
.pagination {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
}
/* line 94, ../sass/style.scss */
.pagination .fa {
  margin-top: 6px;
  color: #999;
}

/* Footer */
/* line 102, ../sass/style.scss */
footer {
  color: #999;
}
/* line 104, ../sass/style.scss */
footer a {
  color: #999;
  font-weight: bold;
}
