
	<!-- 
	<h2> Make money writing </h2>
	<img src="/media/images/pages/about/income-2.png"/>	
	<p> The goal of this project is to help people to go from a complete novice to a professional writer. And a part of being a professional is making money with your craft. On Fiction Hub, you can start selling your stories very easily, with no barrier to entry. Once you have written a story you think is worth buying - just set the price, and your readers will be able to purchase it in one click. </p>
	 -->

		<!-- 
	<h2> Upcoming Features </h2>
	<img src="/media/images/pages/about/path.jpg"/>
	<p> The goal of this project is to help people to go from a complete novice to a professional, published writer. In the future, you will be able to make money by selling your stories, participate in writing competitions, and use other tools that will help aspiring writers on their journey.
	  -->

