/* line 3, sass/dark.scss */
header {
  background: #141414;
  border: none;
}
/* line 6, sass/dark.scss */
header .logo {
  color: rgba(162, 168, 171, 0.79);
  font-weight: lighter;
}
/* line 9, sass/dark.scss */
header .logo img {
  display: none;
}
/* line 12, sass/dark.scss */
header .logo b {
  font-weight: lighter;
}

/* line 17, sass/dark.scss */
body, .page {
  background: #232626;
  background: #111111;
}

/* line 22, sass/dark.scss */
article {
  background: #1f1f1f;
}

/* line 26, sass/dark.scss */
a, p, li {
  color: #a2a8ab;
}

/* line 29, sass/dark.scss */
.btn-default {
  background: #222;
  color: #a2a8ab !important;
}
/* line 33, sass/dark.scss */
.btn-default:hover {
  background: #222 !important;
}

/* line 37, sass/dark.scss */
.dropdown-menu {
  background: #222222;
}
/* line 39, sass/dark.scss */
.dropdown-menu a {
  color: #a2a8ab !important;
}

/* line 43, sass/dark.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: #2f3333;
}

/* line 46, sass/dark.scss */
article h1 {
  color: #a2a8ab;
  border-bottom: 1px solid rgba(162, 168, 171, 0.52);
}

/* line 52, sass/dark.scss */
input {
  background: #1a1c1c !important;
  border: none !important;
  outline: none !important;
}
