/* 
@import "../fonts/opensans.scss";
@import "../fonts/noto-sans.scss";
@import "../vendor/bootstrap.min.scss";
@import "../vendor/simplemde.min.scss";
@import "../vendor/font-awesome.min.scss";
@import "../vendor/foundation-icons.scss";
 */
/* #da552f; */
/* Helpers */
/* line 2, sass/_helpers.scss */
.left {
  float: left;
}

/* line 6, sass/_helpers.scss */
.right {
  float: right;
}

/* line 9, sass/_helpers.scss */
.centered {
  margin: auto;
}

/* line 12, sass/_helpers.scss */
.center-text {
  text-align: center;
}

/* line 15, sass/_helpers.scss */
.hidden {
  display: none;
}

/* line 19, sass/_helpers.scss */
.bold {
  font-weight: bold;
}

/* line 23, sass/_helpers.scss */
.pointer {
  cursor: pointer;
}

/* line 27, sass/_helpers.scss */
.fill {
  min-height: 100%;
  height: 100%;
}

/* line 32, sass/_helpers.scss */
.vertical-center {
  display: flex;
  align-items: center;
}

/* line 37, sass/_helpers.scss */
.full-width {
  width: 100%;
}

/* line 41, sass/_helpers.scss */
.black {
  color: rgba(0, 0, 0, 0.8);
}

/* line 44, sass/_helpers.scss */
.gray {
  color: #999;
}

/* line 48, sass/_helpers.scss */
.paddings-10 {
  padding: 10px;
}

/* line 52, sass/_helpers.scss */
.margins-h-10 {
  margin: 0 10px;
}

/* line 1, sass/_general.scss */
html, body {
  font-family: "Open Sans", sans-serif;
  background: #f9f9f9;
  color: rgba(0, 0, 0, 0.8);
}

/* Typography */
/* line 8, sass/_general.scss */
article h1, h1 a {
  font-size: 36px;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
  line-height: 50px;
  margin-top: 0;
}

/* line 15, sass/_general.scss */
article h2, h2 a {
  font-size: 30px;
  font-weight: bold;
}

/* line 19, sass/_general.scss */
h3 {
  font-size: 24px;
  font-weight: bold;
}

/* line 23, sass/_general.scss */
h4 {
  font-size: 24px;
  font-weight: bold;
}

/* line 28, sass/_general.scss */
p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

/* line 33, sass/_general.scss */
li {
  font-size: 1.1em;
}

/* line 38, sass/_general.scss */
a {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
/* line 40, sass/_general.scss */
a:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* line 47, sass/_general.scss */
article p a {
  color: #008cba;
}

/* line 51, sass/_general.scss */
hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin: 10px 0;
}

/* line 57, sass/_general.scss */
textarea, textarea:focus, textarea:active {
  resize: none;
  box-shadow: none !important;
}

/* Customize bootstrap */
/* line 66, sass/_general.scss */
.btn-default {
  border-radius: 2px;
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid #999;
}

/* line 73, sass/_general.scss */
.btn-cta, .btn-cta-large {
  background: #f66303;
  border: none;
  color: white;
}
/* line 77, sass/_general.scss */
.btn-cta:hover, .btn-cta-large:hover {
  color: white;
}

/* line 82, sass/_general.scss */
.btn-cta-large {
  padding: 15px 20px;
}

/* line 88, sass/_general.scss */
.form-control, .form-control-cta {
  height: 40px;
}

/* line 92, sass/_general.scss */
.form-control-cta {
  height: auto;
  padding: 12px 15px;
  width: 100%;
  text-align: center;
}

/* line 100, sass/_general.scss */
.close {
  margin: 20px;
}

/* centered columns styles */
/* line 104, sass/_general.scss */
.row-centered {
  text-align: center;
}

/* line 107, sass/_general.scss */
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}

/* line 1, sass/_header.scss */
header {
  background: #fff;
  padding: 20px;
  border-top: 3px solid #f66303;
}
/* line 6, sass/_header.scss */
header .search {
  height: 38px;
}
@media (max-width: 740px) {
  /* line 6, sass/_header.scss */
  header .search {
    padding: 0;
  }
}
/* line 12, sass/_header.scss */
header .logo {
  font-size: 36px;
  color: #3d454b;
}
/* line 15, sass/_header.scss */
header .logo img {
  width: 50px;
  float: left;
  margin-right: 10px;
}
/* line 23, sass/_header.scss */
header .nulis {
  padding: 4px 0;
  border: none;
  box-shadow: none;
}
/* line 29, sass/_header.scss */
header .tagline {
  margin: 10px;
  color: #999;
}
/* line 34, sass/_header.scss */
header .main-menu {
  padding-top: 5.5px;
  float: right;
}
@media (max-width: 740px) {
  /* line 34, sass/_header.scss */
  header .main-menu {
    float: left;
  }
}
/* line 40, sass/_header.scss */
header .main-menu .btn {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 5px;
  border-radius: 0;
}
/* line 47, sass/_header.scss */
header .main-menu .btn:hover {
  background-color: #eeeeee;
}
/* line 52, sass/_header.scss */
header .main-menu .notifications {
  color: #f66303;
}

/* Profile Subheader */
/* line 62, sass/_header.scss */
.subheader {
  background: white url("/static/img/orange-bg.jpg") no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 20px;
}
/* line 68, sass/_header.scss */
.subheader .avatar {
  float: left;
  width: 50px;
  margin: 20px 10px 0 0;
  border-radius: 2px;
}
/* line 74, sass/_header.scss */
.subheader .username {
  display: inline-block;
}
/* line 77, sass/_header.scss */
.subheader a h1 {
  color: white;
}
/* line 80, sass/_header.scss */
.subheader h1 {
  text-shadow: 0.5px 0.5px 0.5px black;
}
/* line 83, sass/_header.scss */
.subheader .stats {
  padding-top: 10px;
}
/* line 86, sass/_header.scss */
.subheader .stats span {
  margin-right: 4px;
}
/* line 89, sass/_header.scss */
.subheader .stats .calendar {
  display: inline-block;
}
/* line 91, sass/_header.scss */
.subheader .stats .calendar .mark {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0);
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  float: left;
  margin-right: 1px;
  height: 11px;
}
/* line 103, sass/_header.scss */
.subheader .buttons {
  float: right;
  padding-top: 30px;
}
/* line 106, sass/_header.scss */
.subheader .buttons .btn {
  color: white;
  background: #403c30;
  border: none;
  border-radius: 0;
  padding: 15px 20px;
}
/* line 115, sass/_header.scss */
.subheader .description {
  color: #fefefe;
  background: rgba(10, 10, 10, 0.5);
  padding: 10px 0;
  margin-top: 10px;
}
/* line 120, sass/_header.scss */
.subheader .description a {
  color: #fefefe;
  margin-right: 5px;
}

/* Subnav */
/* line 131, sass/_header.scss */
.subnav {
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  height: 38px;
}
@media (max-width: 740px) {
  /* line 135, sass/_header.scss */
  .subnav .filters {
    padding: 0;
    margin: 0;
  }
}
/* line 142, sass/_header.scss */
.subnav .btn {
  border-radius: 0;
  border: none;
  background: rgba(241, 239, 239, 0.9);
  height: 38px;
}
@media (max-width: 420px) {
  /* line 142, sass/_header.scss */
  .subnav .btn {
    padding: 8px 7px;
  }
}
/* line 153, sass/_header.scss */
.subnav form {
  float: right;
  /* Search */
}
@media (max-width: 500px) {
  /* line 153, sass/_header.scss */
  .subnav form {
    width: 100%;
  }
}
/* line 161, sass/_header.scss */
.subnav form input {
  height: 38px;
  background: rgba(241, 239, 239, 0.9);
  background: none;
  border: none;
  box-shadow: none;
}
/* line 167, sass/_header.scss */
.subnav form input:focus {
  outline: 1px solid #cccccc;
  box-shadow: none;
  background: white;
}
/* line 174, sass/_header.scss */
.subnav form .fa-search {
  position: absolute;
  right: 26px;
  top: 12px;
  color: #999;
  /* Click behind it into the input */
  pointer-events: none;
}
@media (max-width: 740px) {
  /* line 174, sass/_header.scss */
  .subnav form .fa-search {
    right: 8px;
  }
}
/* line 186, sass/_header.scss */
.subnav form .typeahead.dropdown-menu {
  width: calc(100% - 80px);
}

/* line 195, sass/_header.scss */
.dropdown {
  float: left;
  margin-right: 5px;
}
/* line 198, sass/_header.scss */
.dropdown li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
@media (max-width: 740px) {
  /* line 195, sass/_header.scss */
  .dropdown {
    margin: 0;
  }
}

/* line 208, sass/_header.scss */
.dropdown:hover .dropdown-menu {
  display: block;
  min-width: 100%;
}

/* line 1, sass/_posts.scss */
article {
  background: white;
  padding: 20px 40px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  margin-top: 20px;
}
/* line 8, sass/_posts.scss */
article img {
  max-width: 100%;
  display: block;
  margin: auto;
}
/* line 13, sass/_posts.scss */
article .top-image {
  margin: -40px -40px 0 -40px;
  max-width: calc(100% + 80px);
  width: calc(100% + 80px);
}
/* line 18, sass/_posts.scss */
article .readMore {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.44);
}
/* line 23, sass/_posts.scss */
article .post-footer {
  font-size: 14px;
  color: #999;
  background: rgba(0, 0, 0, 0.02);
  padding: 7px 10px 10px 10px;
  margin: 5px -40px -20px -40px;
  background-color: #fcfcfc;
  border-top: 1px solid #e8e8e8;
  /* Buttons/Voting */
}
/* line 32, sass/_posts.scss */
article .post-footer .label {
  margin-right: 4px;
}
/* line 36, sass/_posts.scss */
article .post-footer .btn {
  padding: 2px 8px;
  margin: -3px 5px -6px 0;
  float: left;
}
/* line 40, sass/_posts.scss */
article .post-footer .btn:hover {
  background: #e7e7e7;
}
/* line 45, sass/_posts.scss */
article .post-footer .fi-arrow-up:before {
  transform: scale(1.2, 1);
}
/* line 48, sass/_posts.scss */
article .post-footer .upvoted {
  background: #f66303;
  color: white;
  border: none;
}
/* line 56, sass/_posts.scss */
article .subtitle {
  color: rgba(0, 0, 0, 0.44) !important;
  font-weight: normal !important;
  font-size: 1.5em !important;
}
@media (max-width: 768px) {
  /* line 1, sass/_posts.scss */
  article {
    padding: 10px;
  }
  /* line 65, sass/_posts.scss */
  article .post-footer {
    margin: 5px -10px -10px -10px;
    width: calc(100% + 20px);
  }
  /* line 69, sass/_posts.scss */
  article h1 {
    line-height: 45px;
  }
}

@media (max-width: 768px) {
  padding: 0;
}
/* line 80, sass/_posts.scss */
.post-detail article {
  border: none;
  padding: 40px 40px 20px 40px;
}

/* line 87, sass/_posts.scss */
.tag-description {
  margin-top: 20px;
}
/* line 89, sass/_posts.scss */
.tag-description .panel {
  padding: 20px;
  margin-bottom: 0;
}
/* line 93, sass/_posts.scss */
.tag-description .panel h1 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
}
/* line 98, sass/_posts.scss */
.tag-description .panel h2 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

/* Post detail */
/* line 109, sass/_posts.scss */
.comment {
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.04);
  min-height: 0;
  padding: 20px;
}
/* line 113, sass/_posts.scss */
.comment .footer {
  float: right;
}
/* line 115, sass/_posts.scss */
.comment .footer a {
  cursor: pointer;
}
/* line 118, sass/_posts.scss */
.comment .footer .score {
  font-weight: bold;
}
/* line 122, sass/_posts.scss */
.comment .footer .comment-upvoted {
  color: #f66303;
}

/* line 129, sass/_posts.scss */
.comment .comment {
  margin-right: -20.5px;
}

/* line 135, sass/_posts.scss */
.editor {
  padding-top: 20px;
  position: relative;
  /* SimpleMDE */
  /* No gap between category and tags */
}
/* line 139, sass/_posts.scss */
.editor .dropdown {
  z-index: 10;
}
/* line 141, sass/_posts.scss */
.editor .dropdown .dropdown-menu {
  box-sizing: border-box;
  width: 100%;
}
/* line 146, sass/_posts.scss */
.editor .chapters {
  position: absolute;
  right: 10px;
  top: 26px;
  z-index: 10;
}
/* line 152, sass/_posts.scss */
.editor .chapters .nulis {
  margin-right: 5px;
  float: left;
}
/* line 158, sass/_posts.scss */
.editor .editor-toolbar {
  border-radius: 0;
  background: white;
}
/* line 162, sass/_posts.scss */
.editor .CodeMirror {
  border-radius: 0;
  border-bottom: none;
}
/* line 166, sass/_posts.scss */
.editor .editor-statusbar {
  border: 1px solid #ddd;
}
/* line 171, sass/_posts.scss */
.editor .col-sm-3, .editor .col-sm-9 {
  padding: 0;
}

/* Messages */
/* line 178, sass/_posts.scss */
.message p {
  font-size: 16px;
}

/* line 23, sass/style.scss */
.subscription-box {
  margin-top: 20px;
  display: none;
}
/* line 27, sass/style.scss */
.subscription-box .cta-description {
  padding: 0 5px;
}
/* line 30, sass/style.scss */
.subscription-box .panel {
  margin-bottom: 0;
}
/* line 33, sass/style.scss */
.subscription-box .cta {
  padding: 10px;
  float: left;
  margin-right: 20px;
  font-weight: bold;
}
/* line 41, sass/style.scss */
.subscription-box .email-form input {
  float: left;
}
/* line 44, sass/style.scss */
.subscription-box .email-form #id_email {
  width: calc(100% - 240px);
}
@media (max-width: 500px) {
  /* line 44, sass/style.scss */
  .subscription-box .email-form #id_email {
    width: 100%;
  }
}
/* line 50, sass/style.scss */
.subscription-box .email-form #submit-email {
  width: 100px;
}
@media (max-width: 500px) {
  /* line 50, sass/style.scss */
  .subscription-box .email-form #submit-email {
    width: 100%;
  }
}
/* line 58, sass/style.scss */
.subscription-box input {
  height: 40px;
}
/* line 62, sass/style.scss */
.subscription-box .btn {
  background: #f66303;
  color: white;
  height: 40px;
}
/* line 68, sass/style.scss */
.subscription-box .close {
  position: absolute;
  top: 19px;
  right: 32px;
  font-size: 32px;
}
@media (max-width: 740px) {
  /* line 68, sass/style.scss */
  .subscription-box .close {
    top: 10px;
    right: 30px;
  }
}

/* line 82, sass/style.scss */
.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  padding: 20px;
}

/* Modals */
/* Pagination */
/* line 95, sass/style.scss */
.pagination {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
}
/* line 101, sass/style.scss */
.pagination .fa {
  margin-top: 6px;
  color: #999;
}

/* Footer */
/* line 109, sass/style.scss */
footer {
  color: #999;
}
/* line 111, sass/style.scss */
footer a {
  color: #999;
  font-weight: bold;
}
