{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <article>
	<h1> Your Income </h1>
	<div class="row">
	  <div class="col-xs-4">
	    Past 7 days:
	    <h1>${{balance}}</h1>

	  </div>
	  <div class="col-xs-4">
	    Past 30 days:
	    <h1>${{balance}}</h1>
	  </div>
	  <div class="col-xs-4">
	    Total:
	    <h1>${{balance}}</h1>
	  </div>
	</div>	
	<!-- Once your balance reaches $25, you can withdraw money to your PayPal account: -->
	Once your balance reaches $25, the payment will be sent to your PayPal email address
	<form method="post" action="/income/update-paypal-email/">{% csrf_token %}
	  <div class="input-group">
	    <!-- Paypal Email -->
            <input class="form-control" name="paypal_email"
		   type="text" maxlength="254"
		   placeholder="Your paypal email"
		   value="{{user.paypal_email}}">
	    <span class="input-group-btn">
	      <button class="btn btn-primary" type="submit">
		Save
	      </button>
	    </span>
	  </div> <!-- End .input-group -->
	</form>
	<div class="clearfix"></div>
      </article>
    </div>   <!-- End .col-xs-12 -->
  </div> <!-- End .row .edit -->
</div> <!-- End .container -->

{% endblock %}
