{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row edit">
    <div class="col-xs-12">
      <article>
	<h2> Settigns </h2>
	<form method="post" action="/settings/">{% csrf_token %}
	  <!-- Username -->
          <input class="form-control" name="username"
		 type="text" maxlength="254"
		 placeholder="Username"
		 value="{{user.username}}">
	  <br/>

	  <!-- Email -->
          <input class="form-control" name="email"
		 type="email" maxlength="254"
		 placeholder="Email"
		 value="{{user.email}}">
	  <br/>

	  <!-- About -->
          <input class="form-control" name="about"
		 type="text" maxlength="254"
		 placeholder="About"
		 value="{{user.about}}">
	  <br/>

	  <!-- Website -->
          <input class="form-control" name="website"
		 type="text" maxlength="254"
		 placeholder="Website"
		 value="{{user.website}}">
	  <br/>
	  
	  <!-- Submit -->
	  <button type="submit"
		  class="btn btn-primary right">
	    Save
	  </button>	
	</form>
	<div class="clearfix"></div>
      </article>
    </div>   <!-- End .col-xs-12 -->
  </div> <!-- End .row .edit -->
</div> <!-- End .container -->

{% endblock %}
