{% extends "base.html" %}
{% load markdownify %}
{% load title %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row edit">
    <div class="col-xs-12">
      <div class="editor">
	{{form.errors}}
	<!-- Submit Form -->
	<form
	   {% if post %}
	   action="{{post.get_absolute_url}}edit"
	   {% else %}
	   action="/create?{{request.GET.urlencode}}"
	   {% endif %}	   
	   method="post">{% csrf_token %}

	  <!-- Chapters	-->
	  <div class="chapters">
	    {% if post.series %}
	    <a class="btn btn-default"
	       data-toggle="modal" data-target="#edit-series">
	      Edit Series
	    </a>
	    <!-- If post already has series, create chapter under this series. -->
	    <a class="btn btn-default"
	       href="/write?series={{post.series.pk}}">
		Add Chapter
	    </a>
	    {% elif post %}
	    <!-- If not - create new series, and add this post to it. -->
	    <a class="btn btn-default"
	       href="/write?series=new&post={{post.slug}}">
		Add Chapter
	    </a>
	    {% else %}	  	       	    	    
	    <!-- If I'm writing a new post - don't show the button. -->
	    {% endif %}	  	       	    

	    <!-- If it's a part of the Series, show other chapters -->
	    {% if post.series %}	  
	    <div class="dropdown chapter-titles">
	      <span class="btn btn-default chapter-title">
		<!-- Chapter title. Removed markdown. -->
		{{post|title|striptags}}
	      </span>
	      <ul class="dropdown-menu" role="menu">
		{% for child in post.series.chapters.all %}	  	      
		<li>
		  <a href="{{child.get_absolute_url}}edit"
		     {% if child == post %}
		     class="active"
		     {% endif %}>
		    {{ forloop.counter }}.
		    {{child|markdownify|striptags|truncatechars:30}}		    
		  </a>
		</li>
		{% endfor %}	  	      
	      </ul>
	    </div>
	    {% endif %}
	    <div class="clearfix"></div>
	  </div> <!-- end .chapters -->


	  <!-- Editor Body -->
	  {{form.body}}

	  <div class="progressbar-outer">
	    <div class="progressbar-inner">
	    </div>
	    <div class="marks">
	      {% for i in "xxxxxxxxxx" %}
	      <div class="mark"></div>
	      {% endfor %}
	    </div>
	  </div>
	  <!-- Category -->
          <div class="col-xs-12 col-sm-3">
	    <select name="post_category" class="form-control">
	      <option value="">Category</option>
	      {% for category in categories %}
	      <option value="{{category.slug}}"
		      {% if category == post.category %}selected{% endif %}
		      >{{category.title}}</option>
	      {% endfor %}
	    </select>
	  </div>

	  <!-- Tags -->
          <div class="col-xs-12 col-sm-9">
            <input type="text" class="form-control"
		   name="tags" placeholder="Tags (SciFi, Comedy, Fanfiction)"
		   value="{{post_tags}}">
          </div>



	  <!-- Buttons -->
          <div class="clearfix"></div><br/>
	  <div>
	    {% if post %}
	    <div class="left">
	      <a data-toggle="modal" data-target="#delete" 
		 class="btn btn-danger">
		Delete
	      </a>
	    </div>
	    {% endif %}

	    <div class="right">
	      {% if post %}
	      <a class="btn btn-primary" href="{{post.get_absolute_url}}">
		View
	      </a>

	      {% if not post.published %}
	      <a class="btn btn-primary" href="{{post.get_absolute_url}}publish">
		Publish
	      </a>
	      {% else %}
	      <a class="btn btn-primary" href="{{post.get_absolute_url}}unpublish">
		Un-Publish
	      </a>	      
	      {% endif %}
	      
	      {% endif %} <!-- end if post -->
	      <button class="btn btn-primary" type="submit">
		Save
	      </button>
	    </div>
	  </div> <!-- End col-xs-12 (buttons) -->
	  
	</form>
      </div> <!-- End .editor -->
    </div>   <!-- End .col-sm-12 -->
  </div> <!-- End .row .edit -->
</div> <!-- End .container -->





<div id="delete" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      <div class="modal-body">
	<p>Are you sure you want to delete the post?</p>
	<a href="{{post.get_absolute_url}}delete"
	   class="btn btn-danger right">
	  Delete
	</a>
        <button class="btn btn-default right margins-h-10" data-dismiss="modal">
	  Cancel
	</button>
	<div class="clearfix"></div>
      </div> <!-- End .modal-body -->
    </div> <!-- End .modal-content -->
  </div> <!-- End .modal-dialog -->
</div>	 <!-- End .modal -->

<div id="edit-series" class="modal fade edit-series" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Series</h4>
      </div>
      <div class="modal-body">

	<!-- Series form -->
	<form method="post"
	      action="/series/{{post.series.slug}}/update?next={{request.path}}">
	  {% csrf_token %}
	  <!-- Series title -->
          <input class="form-control" name="title"
		 type="text" maxlength="254"
		 placeholder="Series Title"
		 value="{{post.series.title}}">
	  <br/>

	  <!-- Price and Free Chapters -->
	  <div class="price">
	    <label class="control-label" for="series-price">Price:</label>
	    <select name="price" class="form-control col-xs-8">
	      <option value="0"
		      {% if post.series.price == 0 %}selected{% endif %}>
		$0
	      </option>
	      <option value="5"
		      {% if post.series.price == 5 %}selected{% endif %}>
		$5 (you make $4)
	      </option>
	      <option value="10"
		      {% if post.series.price == 10 %}selected{% endif %}>
		$10 (you make $9)
	      </option>
	      <option value="15"
		      {% if post.series.price == 15 %}selected{% endif %}>
		$15 (you make $14)
	      </option>
	    </select>
	  </div>

	  <div class="free-chapters">
	    <label class="control-label" for="free-chapters">Free Chapters:</label>
            <input class="form-control" name="free_chapters"
		   type="number" maxlength="254"
		   value="{{post.series.free_chapters}}">
	  </div>
	  <div class="clearfix"></div> <br/>

	  <!-- Buttons -->
	  <button class="btn btn-primary right"
		  type="submit">
	    Save
	  </button>
          <button class="btn btn-default right margins-h-10" data-dismiss="modal">
	    Cancel
	  </button>
	</form>
	<div class="clearfix"></div>
      </div> <!-- End .modal-body -->
    </div> <!-- End .modal-content -->
  </div> <!-- End .modal-dialog -->
</div>	 <!-- End .modal -->

<script src="/static/js/vendor/jquery-3.2.1.min.js"></script>
<!-- Auto-open modal -->
<!-- 
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#edit-series').modal('show');
    });
</script>
 -->

<script src="/static/js/vendor/simplemde.min.js"></script>
<!-- Editor '-->
<script>
    $(document).ready(function() {
	var simplemde = new SimpleMDE({
	    autofocus: true,
	    {% if post %}
	    autosave: {
		enabled: true,
		uniqueId: "{{post.slug}}",
		delay: 10000
	    },
	    {% endif %}	    
	    toolbar: ["bold", "italic", "heading", "|", "quote",
		      {
			  name: "readmore",
			  action: SimpleMDE.drawHorizontalRule,
			  className: "fa fa-ellipsis-h",
			  title: "Insert Read More",
		      },
		      "|", "link", "image", "|",
		      "preview", "side-by-side", "fullscreen"],
	    insertTexts: {
		horizontalRule: ["", "\n<!-- more -->\n"],
	    },
	    placeholder: "Write here...",
	    spellChecker: false,
	    status: ["autosave", "words"], // Optional usage
	    status: ["autosave", "words"]
	});
	
	var todays_wordcount = {{wordcount}};
	$('.progressbar-inner').css("width",todays_wordcount*0.1+"%");	    
	
	var text = simplemde.value();
	var initial_wordcount = text.split(' ').length;	
	simplemde.codemirror.on("change", function(){
	    var text = simplemde.value();
	    var current_wordcount = text.split(' ').length;
	    var new_words = current_wordcount - initial_wordcount;
	    var total_progress = (todays_wordcount + new_words) * 0.1;
	    // console.log(total_progress);
	    $('.progressbar-inner').css("width",total_progress+"%");	    
	});
    });
</script>

{% endblock %}
