$text-color: #a2a8ab;

header {
    background: #141414;
    border: none;
    .logo {
	color: rgba(162, 168, 171, 0.79);
	font-weight: lighter;	
	img {
	    display: none;
	}
	b {
	    font-weight: lighter;
	}
    }
}
.subnav {
    background: rgba(162, 168, 171, 0.1);
    border: none;
    
}

body, .page {
    background: #232626;
    background: #111111;
}

article {
    background: #1f1f1f;
}

a, p, li {
    color: #a2a8ab;
}
.btn-default {
    background: #222;
    color: #a2a8ab!important;

    &:hover {
	background: #222!important;
    }
}
.dropdown-menu, .subnav .btn-default {
    background: #222222;
    a {
	color: $text-color!important;
    }
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background: #2f3333;
}
article h1 {
    color: #a2a8ab;
    border-bottom: 1px solid rgba(162, 168, 171, 0.52);
}
article .panel {
border: none;
    background: #2d2d2e;
    color: #a2a8ab;    
}
article .post-footer {
    background: rgba(162, 168, 171, 0.1);
    border: none;
}

input, textarea {
    background: #1a1c1c !important;
    border: none !important;
    outline: none !important;    
}

/* SimpleMDE */
.editor {
    .CodeMirror {
	background: #1a1c1c !important;
	color: white!important;
	border:none!important;
    }
    .editor-toolbar {
	background: #1a1c1c !important;    
	border: none!important;
    }
    .editor-statusbar {
	border: none!important;
	background: #1a1c1c !important;        
    }

}