/* Vendor */
/* @import "../vendor/bootstrap.min.scss"; */
/* @import "../vendor/font-awesome.min.scss"; */
/* @import "../vendor/foundation-icons.scss"; */

$background: #f9f9f9;
$orange: #f66303; /* #da552f; */
$blue:#008cba;
$black: rgba(0, 0, 0, 0.8);
$black-lighter: #3d454b;
$gray: #999;
$dark-gray: rgba(0,0,0,.6);
$light-gray: #e7e7e7;
$black-bluish: #3d454b;
$link:#008cba;

@import 'helpers';
@import 'general';
@import 'header';
@import 'home';
@import 'posts';
@import 'fountain';

.subscription-box {
    margin-top: 20px;
    display:none;

    .cta-description {
	padding: 0 5px;
    }
    .panel {
	margin-bottom: 0;
    }
    .cta {
	padding:10px;
	float:left;
	margin-right:20px;
	font-weight: bold;	
    }

    .email-form {
	float:right;
	margin-right:10px;
	@media  (max-width: 500px) {
	    margin-right:0px;
	}
	input {
	    float:left;
	    width: 200px;
	    @media  (max-width: 500px) {
		width: 100%;
	    }
	}
	.btn {
	    float:left;
	    width: 100px;	    
	    @media  (max-width: 500px) {
		width: 100%;
	    }
	    
	}	
    }
    input {
	height: 40px;
    }
    
    .btn {
	background: $orange;
	color: white;
	height: 40px;
    }

    .close {
	position: absolute;
	margin: 0;
	top: 20px;
	right: 32px;	
	font-size: 32px;
	z-index:10;
	@media  (max-width: 740px) {	
	    top: 10px;
	    right: 30px;
	}

    }
}

.panel.cta {
    font-weight: normal;
    width: 100%;
    a {
	color: $link;
    }
}
.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    padding: 22px;
    text-align: center;
    font-size: 18px;    
}

/* Modals */


/* Pagination */
.pagination {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    text-align: center;

    .fa {
	margin-top: 6px;
	color: $gray;
    }
}

/* Footer */

footer {
    height: 40px;
    padding: 0 10px;
    background-color: #333a42;
    color: #babfc2;    
    a {
	color: $gray;
	font-weight: bold;
    }
}

/* Settings */
.settings {
    .avatar {
	width: 40px;
	margin-left: 10px;
    }
    .background {
	margin-left: 10px;
	height: 40px;
    }
}
