/* 
@import "../fonts/opensans.scss";
@import "../fonts/noto-sans.scss";
@import "../vendor/bootstrap.min.scss";
@import "../vendor/simplemde.min.scss";
@import "../vendor/font-awesome.min.scss";
@import "../vendor/foundation-icons.scss";
 */
$background: #f9f9f9;
$orange: #f66303; /* #da552f; */
$blue:#008cba;
$black: rgba(0, 0, 0, 0.8);
$black-lighter: #3d454b;
$gray: #999;
$dark-gray: rgba(0,0,0,.6);
$light-gray: #e7e7e7;

@import 'helpers';
@import 'general';
@import 'header';
@import 'posts';

.subscription-box {
    margin-top: 20px;
    display:none;

    .cta-description {
	padding: 0 5px;
    }
    .panel {
	margin-bottom: 0;
    }
    .cta {
	padding:10px;
	float:left;
	margin-right:20px;
	font-weight: bold;	
    }

    .email-form {
	input {
	    float:left;
	}
	#id_email {
	    width: calc(100% - 240px);
	    @media  (max-width: 500px) {
		width: 100%;
	    }
	}
	#submit-email {
	    width: 100px;	    
	    @media  (max-width: 500px) {
		width: 100%;
	    }
	    
	}	
    }
    input {
	height: 40px;
    }
    
    .btn {
	background: $orange;
	color: white;
	height: 40px;
    }

    .close {
	position: absolute;
	top: 19px;
	right: 32px;	
	font-size: 32px;

	@media  (max-width: 740px) {	
	    top: 10px;
	    right: 30px;
	}

    }
}

.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    padding: 20px;
}

/* Modals */


/* Pagination */
.pagination {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    text-align: center;

    .fa {
	margin-top: 6px;
	color: $gray;
    }
}

/* Footer */

footer {
    color: $gray;
    a {
	color: $gray;
	font-weight: bold;
    }
}
