{% load static %}
<!DOCTYPE html>
<html lang="en-US">
 
<head>
  <meta charset="utf-8">
  {% block meta %}
  <title>Fiction Hub</title>
  {% include "elements/meta.html" %}  
  {% endblock %}

  <!-- Styles -->
  <link rel="stylesheet" href="{% static "/styles/vendor.css" %}">  
  <link rel="stylesheet" href="{% static "/styles/style.css" %}">

</head>

<body>
  
  <!-- Header -->
  {% include "elements/header.html" %}

  <!-- Content -->
  <div class="page">
  {% block content %}
  {% endblock %}
  </div>
  <!-- Footer -->
  <footer>
    <hr/>
    <div class="right">
      Made by <a href="http://rayalez.com">Ray Alez</a>
    </div>
  </footer>
  
  </div> <!-- End .container -->

  <!-- Modal forms -->
  {% include "elements/submit.html" %}
  {% include "elements/login.html" %}

  <!-- Alerts -->
  {% include "elements/alert-subscribed.html" %}      

  <!-- Scripts bundle -->
  <script src="{% static "/js/dist/fictionhub.js" %}" async></script>
</body>

</html>
