{% if profile.background %}
<style>
.subheader {
background: white url("{{profile.background.url}}") no-repeat center;
background-size: cover;
}
</style>
{% endif %}	  

<div class="subheader">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
	<div class="left">
	  {% if profile.avatar %}
	  <img class="avatar left"
	       src="{{profile.avatar.url}}"/>
	  {% endif %}	  
	  <a class="username" href="/@{{profile.username}}"><h1>{{profile.username}}</h1></a>
	  <div class="stats">
	    <span data-toggle="tooltip" data-placement="top" title="Subscribers">
	      <i class="fi-torsos-all"></i> {{profile.subscribers.count}}
	    </span>
	    <span data-toggle="tooltip" data-placement="top" title="Upvotes">
	      <i class="fi-arrow-up"></i> {{profile.karma}}
	    </span>

	    <span data-toggle="tooltip" data-placement="top" title="Views">
	      <i class="fi-eye"></i> {{view_count}}
	    </span>

	    {% if leaderboard_position %}
	    <span data-toggle="tooltip" data-placement="top"
		  title="Weekly leaderboard rank">
	      <i class="fi-graph-trend"></i> {{leaderboard_position}}
	    </span>
	    {% endif %}	    


	    <div class="calendar"
		 data-toggle="tooltip" data-placement="top" data-html="true"
		 title="Words written <br/> in the past 10 days">
	      {% for day in calendar %}
	      <div class="mark"
		   style="background:rgba(255,255,255,{{day}})"></div>
	      {% endfor %}	      
	    </div>
	    <span data-toggle="tooltip" data-placement="top" data-html="true"
		  title="Writing streak <br/>
			 (how many days in a row <br/> written 100+ words)">
	      {{streak}}
	    </span>
	  </div> <!-- End .stats -->
	</div>	 <!-- End .left -->
	<div class="buttons">
	  {% if profile in user.subscribed_to.all %}
	  <!-- If already subscribed - unsubscribe. -->
	  <a class="btn btn-default" href="/@{{profile.username}}/unsubscribe">
	    Subscribed
	  </a>	  
	  {% else %}
	  <!-- If not subscribed - subscribe.
	       If it's my own profile - can't subscribe.
	       If not authenticated - open join modal. -->
	  <a class="btn btn-default
		    {% if user == profile %}disabled{% endif %}"
	     {% if not user.is_authenticated %}
	     data-toggle="modal" data-target="#login"
	     {% else %}
	     href="/@{{profile.username}}/subscribe"
	     {% endif %}>
	    Subscribe
	  </a>
	  {% endif %}	  
	</div>
	<div class="clearfix"></div>
      </div> <!-- End .col-xs-12 -->
    </div> <!-- End .row -->
  </div> <!-- End .container -->
  {% if profile.about %}
  <div class="description">
    <div class="container">
      <div class="row">
	<div class="col-xs-12">

	  <!-- Description -->
	  <div class="">
	    {{profile.about}}
	    <div class="right">
	      {% if profile.website %}
	      <a href="{{profile.website}}">
		{{profile.website}}
	      </a>
	      {% endif %}	      
	      <!-- Social Icons -->
	      <!-- 
	      <a href=""><i class="fa fa-twitter-square"></i></a>
	      <a href=""><i class="fa fa-facebook-square"></i></a>
	      <a href=""><i class="fa fa-medium"></i></a>
	      -->

	      <a href="/@{{profile.username}}/posts.atom"><i class="fa fa-rss"></i></a>
	    </div>
	  </div>
	</div> <!-- End .col-xs-12 -->
      </div> <!-- End .row -->
    </div> <!-- End .container -->
  </div> <!-- End .description -->
  {% else %}
  <br/>
  {% endif %}
  
</div>  <!-- End .subheader -->
