<!-- Subnav -->
<div class="subnav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 filters">
	<!-- Sorting -->
	<div class="dropdown">
	  <a class="btn btn-default" data-toggle="dropdown">
	    {% if sorting %}
	    {{sorting | title}}
	    {% else %}
	    Hot
	    {% endif %}	    
	  </a>
	  <ul class="dropdown-menu query-filter" role="menu"  id="sorting">
            <li><a id="hot"><i class="fa fa-fire"></i> Hot</a></li>	    
            <li><a id="top"><i class="fa fa-arrow-up"></i> Top</a></li>
            <li><a id="new"><i class="fa fa-clock-o"></i> New</a></li>
	  </ul>	
	</div>
	
	<!-- Category -->
	<div class="dropdown">
	  <a class="btn btn-default" data-toggle="dropdown">
	    {% if not category %}
	    Category: All
	    {% else %}
	    {{category}}
	    {% endif %}	    	    
	  </a>
	  <!-- When clicking on an item from menu with  .query-filter class
	       is grabbed by javascript, and used to filter posts on this page.
	       If I'm on the category page, I don't want to do that,
	       I just want categories dropdown to take me to another category.
	    -->
	  <ul class="dropdown-menu  {% if not category_page %}query-filter{% endif %}"
	      role="menu" id="category">
	    <li><a href="/browse/" id="all">All</a></li>
	    {% for category in categories %}
	    {% if category.slug != discussion %}
            <li><a href="/{{category.slug}}" id="{{category.slug}}">
		{{category.title}}</a></li>
	    {% endif %}	    	    
	    {% endfor %}	    
	  </ul>	
	</div>

      </div> <!-- End filters col-sm-6 -->
      <div class="col-xs-12 col-sm-6">
	<!-- Search -->
	<form action="" method="get" id="search-form">
	  <input type="text" class="form-control search" id="searchbar"
		 placeholder=""
		 data-provide="typeahead"
		 autocomplete="off"
		 name="query" value="{{query}}">
	  <input type='submit' class="hidden"/>
	  <i class="fa fa-search" aria-hidden="true"></i>    
	</form>
	<div class="clearfix"></div>
      </div> <!-- End col-xs-12 .filters -->
    </div>   <!-- End .row -->
  </div> <!-- End  .container -->
</div>   <!-- End .subnav -->
