{% if not user.is_authenticated and not profile %}
    <div class="row subscription-box"  id="subscription-box">
      <div class="col-xs-12">
	<div class="panel panel-default">
	      <button type="button" class="close" id="close-subscription-box"
		      data-target="#subscription-box"
		      data-dismiss="alert">
		<span aria-hidden="true">&times;</span>
	      </button>

	      <div class="panel-body">
		<div class="col-xs-12 col-md-7 cta-description">
		  <div class="cta">
		    Subscribe to the weekly digest of our best stories!
		  </div>
		</div> <!-- End col 12 -->

		<div class="col-xs-12 col-md-5">
		    <form method="post" class="email-form"
			  action="/subscribe/?next={{request.path}}">{% csrf_token %}  
		      <input type="text" name="email"
			     class="form-control" placeholder="email" />
                      <input name="src" type="hidden" id="email-src" />
		      <button class="btn btn-default" type="submit">
			Subscribe
		      </button>
		    </form>
		</div> <!-- End .col-xs-12 -->
	  </div> <!-- End .col-md-12 col-sm-12 -->
	</div> <!-- End .panel -->
      </div> <!-- End .col-md-12 -->
    </div> <!-- End .subscription-box -->
{% endif %}
